import React from 'react'
import { connect } from 'react-redux'

const {{pascalCase name}} = ({ {{camelCase name}}s, ...props }) => {
  return (
    <div className='row'>
        <pre>{JSON.stringify({{camelCase name}}s, ' ', 2)}</pre>
    </div>
  )
}

const mapStateToProps = state => ({
  {{camelCase name}}s: state.{{camelCase name}}s
})

const mapDispatchToProps = {}

export default connect(mapStateToProps, mapDispatchToProps)({{pascalCase name}})