import React from 'react'
import { connect } from 'react-redux'

const {{pascalCase name}} = ({ {{camelCase name}}, ...props }) => {
  return (
    <div className='container'>
      <div className='row'>
        <pre>{JSON.stringify({{camelCase name}}, ' ', 2)}</pre>
      </div>
    </div>
  )
}

const mapStateToProps = state => ({
  {{camelCase name}}: state.{{camelCase name}}s.one
})
const mapDispatchToProps = {}
export default connect(mapStateToProps, mapDispatchToProps)({{pascalCase name}})
